@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Đảm bảo container của Masonry hiển thị đúng */
.masonry-grid {
  display: flex;
  margin-left: -16px; /* Giảm khoảng cách giữa các cột */
  width: auto;
}

/* Thiết lập chiều rộng của cột */
.masonry-grid_column > div {
  padding-left: 16px; /* Khoảng cách giữa các cột */
  margin-bottom: 16px;
  background-clip: padding-box;
}

/* Đảm bảo ảnh không bị bóp méo */
.masonry-grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.main-content {
  margin-top: 64px; /* Đặt khoảng cách bằng với chiều cao Navbar */
  padding: 16px; /* Giúp nội dung có khoảng cách với viền màn hình */
}


  

